.cafeload {
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	width: 80px;
	height: 2px;
}
.cafeload div {
	left: -50%;
	position: relative;
	border: 1px solid #443caa;
	opacity: 1;
	animation: cafeFill 0.5s ease both;
}

@keyframes cafeFill {
	0% {
		width: 0;
	}
	100% {
		width: 80px;
	}
}
